<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Medicine Dispenser</title>
    <!-- Correct way to reference static files in Flask -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

   
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/" method="POST" id = "login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>
